"" Source my .vimrc (no plugins)
source ~/.vimrc_common_noplugin
source ~/.vimrc_rus_maps

" Idea autocompletes random things so the behavior is different when do stuff like this:
nnoremap <space>[ o {<Enter><Esc>

" tabs in ideavim (as opposed to buffers in VIM)
noremap <space>k :tabn<CR>
noremap <space>j :tabp<CR>

" get rid of the pesky bell: http://jason-stillwell.com/blog/2013/04/11/ideavim/
set visualbell
set noerrorbells

" because in my .vimrc it's handled differently
nnoremap <c-w> :bd<Enter>
